body{
    font-family: "Open Sans";
    color: #312D2D;
    background-color: #FEFAEF;
}
.shrink-me{
    width: 1775px;
    height: 715px;
    object-fit: cover;
}
.first-color-box-green{
    color: #0F3511;
    background-color: #B9E3BB;
    text-align: center;
    padding: 60px
}
.first-text{
    font-family: "Montserrat";
}
.yellow-text{
    color: #FF9500;
    text-align: center;
}
.second-color-box-green{
    color: #0F3511;
    background-color: #B9E3BB;
    text-align: center;
    padding: 60px
}
.yellow-text-two{
    color: #FF9500;
    text-align: left;
}
.yellow-text-three{
    color: #FF9500;
    text-align: right;
}
.navbar{
    font-size: 14px;
    text-align: right;
}
.illu,
.graph,
.mix,
.aboutme {
    color: black;
    background-color: white;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    border: 2px solid black;
    border-radius: 50px;
    text-decoration: none;
}
.illustrations:hover{
    cursor: pointer;
    background-color: #FDD7FE;
}
.illustrations:active{
    cursor:pointer;
    background-color: rgb(195, 32, 165);
}
.graphicdesign:hover{
    cursor: pointer;
    background-color: #FFC446;
}
.graphicdesign:active{
    cursor:pointer;
    background-color: #f69002;
}
.mixmedia:hover{
     cursor: pointer;
    background-color: rgb(102, 219, 252);
}
.mixmedia:active{
    cursor:pointer;
    background-color: blue;
}
.about-me:hover{
     cursor: pointer;
    background-color: rgb(244, 50, 50);
}
.about-me:active{
    cursor:pointer;
    background-color: rgb(127, 13, 13);
}
.color-box-darkgreen{
    background-color: #0F3511;
    text-align: center;
    padding: 60px;
}
.color-box-darkgreen a{
    color: white;
    text-decoration: none;
}
.color-box-darkgreen p{
    color: white !important;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}