body{
    font-family: "Open Sans";
    color: #312D2D;
    background-color: #FFFBF3;
}
.shrink-me{
    width: 1920px;
    height: 715px;
    object-fit: cover;
}
.color-box-yellow{
    width: 1920px;
    height: 804px;
    background-color: #B9E3BB;
}
.first-text{
    font-family: "Montserrat";
}
.illustrations:hover{
    cursor: pointer;
    background-color: #FDD7FE;
}
.illustrations:active{
    cursor:pointer;
    background-color: pink;
}

.graphicdesign:hover{
    cursor: pointer;
    background-color: #FFC446;
}
.graphicdesign:active{
    cursor:pointer;
    background-color: #FF9500;
}