body{
    font-family: "Open Sans";
    color: #FFFF;
    background-color: #FEFAEF;
}
.hero-bg {
    background: url('./assets/heroimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1775px;
    height: 715px;
    margin: 0 auto;
}
.navbar{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 20px 40px;
    box-sizing: border-box;
    width: 100%;
}
.logo{
    margin-right: auto;
}
.illu,
.graph,
.mix,
.aboutme {
    color: black;
    background-color: white;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    text-decoration: none;
}
.illustrations:hover{
    cursor: pointer;
    background-color: #FDD7FE;
}
.illustrations:active{
    cursor:pointer;
    background-color: rgb(195, 32, 165);
}
.graphicdesign:hover{
    cursor: pointer;
    background-color: #FFC446;
}
.graphicdesign:active{
    cursor:pointer;
    background-color: #f69002;
}
.mixmedia:hover{
     cursor: pointer;
    background-color: rgb(102, 219, 252);
}
.mixmedia:active{
    cursor:pointer;
    background-color: blue;
}
.about-me:hover{
     cursor: pointer;
    background-color: rgb(244, 50, 50);
}
.about-me:active{
    cursor:pointer;
    background-color: rgb(127, 13, 13);
}




.first-color-box-green{
    color: #0F3511;
    background-color: #B9E3BB;
    text-align: center;
    padding: 60px
}
.first-text{
    font-family: "Montserrat";
}
.yellow-text{
    color: #FF9500;
    text-align: center;
}
.second-color-box-green{
    color: #0F3511;
    background-color: #B9E3BB;
    text-align: center;
    padding: 60px
}

.container{
    color: #FF9500;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.75rem;
}
.child{
    display: flex;
    flex-direction: column;
    gap: 0.8px;
}
@media screen and (min-width: 320px) {
    .container {
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        gap: 1.5rem;
    }
}




.color-box-darkgreen{
    background-color: #0F3511;
    text-align: center;
    padding: 60px;
}
.color-box-darkgreen a{
    color: white;
    text-decoration: none;
}
.color-box-darkgreen a:hover{
    color: #B9E3BB;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
.color-box-darkgreen p{
    color: white !important;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.center-text{
    text-align: center;
}
.shrink-me-vinyl{
    display: block;
    width: 100%;
    Max-width: 800px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}